/*CSS colors
General colors:
 lightblue_buttons: #0061ff
 lightblue_background_conteiner: #b4d0e7
 footer_background: #000000
Cards color:
 card green: #a2d39b
 card purple: #61082b
 card large: #f5f5f5
 card red: #d5001f
 card ghostblue: #b4d0e7
 card lightblue: #0093ce
 card orange: #0093ce
 card blue: #0d2481
 card yellow: #ffd830
*/
/*CSS reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
/*Custom properties*/

/*Generics*/
header{
    min-height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    position: fixed;
    top: 0;
    /*to be removed*/
    background-color: rgb(209, 234, 255);
}
a{
    background-color: rgb(203, 203, 203);
}
p{
    font-size: 18px;
    padding: 20px 20px 35px 2px;
    
}
/*Utilties*/

.first_conteined{
    background-color: #b4d0e7;
    min-height: 740px;
    margin-top: 80px;
    z-index: 999;
}
.text_center{
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Navigation bar*/
.head_section{
    background-color: rgb(251, 251, 182);
    height: 80px;
    min-width: calc(100vw / 3);
    display: flex;
    align-items: center;
    gap: 40px;
}
.head_right{
    display: flex;
    justify-content: end;
    padding-right: 30px;
}
.head_link{
    padding: 5px;
}
.head_button{
    color: white;
    background-color: #0061ff;
    padding: 8px 15px 8px 15px; 
    text-decoration: solid;
}
/*Main*/
.title{
    max-width: 1250px;
    min-height: 350px;
    margin: 0 auto;
    background-color: rgb(217, 217, 217);
    font-size: 45px;
    font-weight: 700;
    
}
#subtitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.main_section{
    height: 390px;
    width: 430px;
    background-color: rgb(224, 224, 224);
}
.main_figure{
    height: 390px;
    width: 820px;
    background-color: rgb(112, 112, 112);
    position: relative;
}
.main_button{
    margin-left: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#cancel{
    padding-top: 40px;
}
.fa-arrow-down{
    font-size: 50px;
    margin-top: 50px;
}
#jumbo_size{
    max-width: 810px;
    position: absolute;
    left: -32px;
}


