/*CSS colors
General colors:
 lightblue_buttons: #0061ff
 lightblue_background_conteiner: #b4d0e7
 footer_background: #000000
Cards color:
 card green: #a2d39b
 card purple: #61082b
 card large: #f5f5f5
 card red: #d5001f
 card ghostblue: #b4d0e7
 card lightblue: #0093ce
 card orange: #0093ce
 card blue: #0d2481
 card yellow: #ffd830
*/
/*CSS reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
/*Custom properties*/
.head_button:hover{
    background-color: #2d7af7;
}
.bghov:hover{
    color: black;
    background-color: rgb(226, 226, 226);
}
.check_section:active{
    border: solid #0061ff 5px;
    border-radius: 50%;
}

/*Generics*/
header{
    min-height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1;
}
a{
    text-decoration: none;
}
h2{
    font-size: 41px;
}
h3{
    font-size: 25px;
}
p{
    font-size: 18px;
    padding: 20px 20px 35px 2px;
}
/*Utilties*/
.first_conteiner{
    background-color: #b4d0e7;
    min-height: 740px;
    margin-top: 80px;
    z-index: 999;
}
.second_conteiner{
    margin: 0 auto;
    margin-top: 160px;
    width: 1000px;
    height: 3580px;
}
.third_conteiner{
    margin-top: 160px;
    background-color: #b4d0e7;
    width: 100%;
    height: 50vh;
    display: flex;
}
.fourth_conteiner{
    background-color: #cacaca;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}
.cards_conteiner{
    width: 100%;
    height: calc(178vh / 3);
    background-color: #f6f8c8;
    margin-top: 70px;
    display: flex;
}
.text_center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section_conteined{
    margin: 0 auto;
    margin-top: 50px;
    width: 1000px;
    height: 95vh;
    display: flex;
    align-content: flex-start;
    gap: 64px;
}
.align_conteined{
    margin: 25px;
}
.raw_conteiner{
    width: 100%;
    height: 160px;
    background-color: #f6f8c8;
    display: flex;
}
.longcard{
    background-color: #f6f8c8;
    width: 30%;
}
/*Navigation bar*/
.head_section{
    height: 80px;
    min-width: calc(100vw / 3);
    display: flex;
    align-items: center;
    gap: 40px;
}
.head_right{
    display: flex;
    justify-content: end;
    padding-right: 30px;
}
.head_link{
    color: #414141;
    padding: 5px;
}
.head_button{
    color: white;
    background-color: #0061ff;
    padding: 8px 15px 8px 15px; 
    text-decoration: solid;
}
/*Main*/
.title{
    max-width: 1250px;
    min-height: 350px;
    margin: 0 auto;
    font-size: 45px;
    font-weight: 700;
}
#subtitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.main_section{
    height: 390px;
    width: 430px;
}
.main_figure{
    height: 390px;
    width: 820px;
    position: relative;
}
.main_button{
    margin-left: 2px;
    padding: 15px;
}
#cancel{
    padding-top: 40px;
}
.fa-arrow-down{
    font-size: 50px;
    margin-top: 50px;
}
#jumbo_size{
    max-width: 810px;
    position: absolute;
    left: -32px;
    top: 20px;
}
/*Section 1*/
#padding_first_section{
    padding-bottom: 50px;
}
.checks{
    max-width: 400px;
    display: flex;
    justify-content: space-between;
}
.flexcheck{
    display: flex;
}
.check_section{
    border: solid  2px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    padding: 5px;
    display: inline-block;
}
.check_text{
    height: 20px;
    padding-left: 5px;
    padding-top: 2px;
    display: inline-block;
}
.section_column{
    width: 290px;
    background-color: white;
    border: solid #d0d0d3 1px;
}
.table_title{
    background-color: white;
    height: 40px;
    border-bottom: solid #d0d0d3 1px;
    text-align: center;
    padding-top: 10px;
}
#h3col{
    padding-bottom: 20px;
}
.month_col{
    margin-top: 10px;
    color: #5f5f5f;
}
.content_col{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-content: stretch;
}
.text_align_col{
    display: inline;
    min-height: 100%;
    display: flex;
    gap: 2px;
    align-items: first baseline;
    padding-bottom: 20px;
    font-size: 16px;
}
.button_col{
    height: 150px;
    width: 238px;
    position: relative;
}
.but_col{
    width: 95%;
    position: absolute;
    top: 20px;
    left: 25px;
}
.shop_col{
    padding-left: 27px;
    display: block;
    padding-top: 90px;
}
.hr_sect{
    margin-left: 27px;
    height: 1px;
    width: 70px;
    background-color: #d0d0d3;
}
.row_section{
    margin-top: 50px;
    width: 100%;
    height: 200px;
    border: solid #d0d0d3 1px;

}
.raw_conteined_left{
    width: 65%;
    height: 160px;
    background-color: #f6f9a2;
}
.raw_conteined_right{
    width: 35%;
    height: 160px;
    background-color: #f3f94d;
}
/*Section 2*/
.left_thr{
    width: 60vh;
    height: 50vh;
    background-color: #83b5de;
}
.right_thr{
    width: 45vh;
    height: 50vh;
    background-color: #d5dee6;
}
/*Section 3*/
.align_fth{
    margin-top: 150px;
}
/*Section 4*/
.bottom_algn{
    margin-bottom: 60px;
}
/*Section 5*/
.cards_conteined{
    width: calc(100% / 3);
    border: solid #b5b5b5 1px;
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: calc(100% / 2);
    height: calc(100% / 2);
}
.cardcolor1{
    background-color: #a2d39b;
}
.cardcolor2{
    background-color: #61082b;
}
.cardcolor3{
    background-color: #0093ce;
}
.cardcolor4{
    background-color: #ff1c1c;
}
.cardcolor5{
    background-color: #d5001f;
}
.cardcolor6{
    background-color: #b4d0e7;
}
.cardcolor7{
    background-color: #0d2481;
}
.cardcolor8{
    background-color: #ffd830;
}



