/*CSS colors
General colors:
 lightblue_buttons: #0061ff
 lightblue_background_conteiner: #b4d0e7
 footer_background: #000000
Cards color:
 card green: #a2d39b
 card purple: #61082b
 card large: #f5f5f5
 card red: #d5001f
 card ghostblue: #b4d0e7
 card lightblue: #0093ce
 card orange: #0093ce
 card blue: #0d2481
 card yellow: #ffd830
*/
/*CSS reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
/*Custom properties*/
.head_button:hover{
    background-color: #2d7af7;
}
.bghov:hover{
    color: black;
    background-color: rgb(226, 226, 226);
}
.check_section:active{
    border: solid #0061ff 5px;
    border-radius: 50%;
}

/*Generics*/
header{
    min-height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1;
}
a{
    text-decoration: none;
}
h2{
    font-size: 41px;
}
h3{
    font-size: 25px;
}
p{
    font-size: 18px;
    padding: 20px 20px 35px 2px;
}
/*Utilties*/
.first_conteiner{
    background-color: #b4d0e7;
    min-height: 740px;
    margin-top: 80px;
    z-index: 999;
}
.second_conteiner{
    margin: 0 auto;
    margin-top: 160px;
    width: 1000px;
    height: 1500px;
    border: solid black 1px;
}
.text_center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section_conteined{
    background-color: rgb(249, 213, 213);
    margin: 0 auto;
    margin-top: 50px;
    width: 1000px;
    height: 90vh;
    display: flex;
    align-content: flex-start;
    gap: 30px;
}
.align_text_col{
    margin: 25px;
    background-color: aliceblue;
    line-height: 40px;
}
/*Navigation bar*/
.head_section{
    height: 80px;
    min-width: calc(100vw / 3);
    display: flex;
    align-items: center;
    gap: 40px;
}
.head_right{
    display: flex;
    justify-content: end;
    padding-right: 30px;
}
.head_link{
    color: #414141;
    padding: 5px;
}
.head_button{
    color: white;
    background-color: #0061ff;
    padding: 8px 15px 8px 15px; 
    text-decoration: solid;
}
/*Main*/
.title{
    max-width: 1250px;
    min-height: 350px;
    margin: 0 auto;
    font-size: 45px;
    font-weight: 700;
}
#subtitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.main_section{
    height: 390px;
    width: 430px;
}
.main_figure{
    height: 390px;
    width: 820px;
    position: relative;
}
.main_button{
    margin-left: 2px;
    padding: 15px;
}
#cancel{
    padding-top: 40px;
}
.fa-arrow-down{
    font-size: 50px;
    margin-top: 50px;
}
#jumbo_size{
    max-width: 810px;
    position: absolute;
    left: -32px;
    top: 20px;
}
/*Section 1*/
#padding_first_section{
    padding-bottom: 50px;
}
.checks{
    max-width: 400px;
    display: flex;
    justify-content: space-between;
}
.flexcheck{
    display: flex;
}
.check_section{
    border: solid  2px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    padding: 5px;
    display: inline-block;
}
.check_text{
    height: 20px;
    padding-left: 5px;
    padding-top: 2px;
    display: inline-block;
}
.section_column{
    width: 290px;
    background-color: white;
    border: solid #d0d0d3 1px;
}
.table_title{
    background-color: white;
    height: 40px;
    border-bottom: solid #d0d0d3 1px;
    text-align: center;
    padding-top: 8px;
}
.month_col{
    margin-top: -10px;
    color: #5f5f5f;
}


